alembic
anyio
attrs
beautifulsoup4
black
cachetools
certifi
chardet
charset-normalizer
click
colorama
cssselect
cssutils
dnspython
ecdsa
email-validator
emails
fastapi
greenlet
h11
idna
iniconfig
lxml
Mako
MarkupSafe
mypy-extensions
packaging
passlib
pathspec
platformdirs
pluggy
premailer
pyasn1
pydantic
PyMySQL
pytest
python-dateutil
python-jose
python-multipart
requests
rsa
six
sniffio
soupsieve
SQLAlchemy
starlette
typing_extensions
urllib3
uvicorn

playwright